<div class="container">
  <div class="col-6">
    <div class="error-images">
    <img src="/images/frodo_error.jpg" alt="Error">
    </div>
  </div>
  <div class="col-6">
    <h1>Sorry. The page you asked for doesn't exist</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>
